                      <div class="card-body">
                          <form  [formGroup]="searchForm" (ngSubmit)="onSubmitFlightNumber()" class="form">
                              <div class="form-group">
                                  <label for="uname1">FlightNumber</label>
                                  <input type="text" class="form-control form-control-lg rounded-0" formControlName = "flightNumber">
                              </div>
                              <div class="form-group">
                                  <label>Date</label>
                                  <input type="text" class="form-control form-control-lg rounded-0" formControlName="date">
                              </div>

                              <button type="submit" class="btn btn-success btn-lg float-left" id="btnLogin">Search</button>
                          </form>
                      </div>
                      <!--/card-block-->
                  



                    <div class="card-body">
                        <form  [formGroup]="searchFormTwo" (ngSubmit)="onSubmitAddress()" class="form">
                            <div class="form-group">
                                <label for="uname1">Origin or Destination Address</label>
                                <input type="text" class="form-control form-control-lg rounded-0" formControlName = "address">
                            </div>
                            <div class="form-group">
                                <label>Date</label>
                                <input type="password" class="form-control form-control-lg rounded-0" formControlName="date" autocomplete="new-password">
                            </div>

                            <button type="submit" class="btn btn-success btn-lg float-left" id="btnLogin">Search</button>
                        </form>
                    </div>
                    <!--/card-block-->
                